body {
    font-family: Arial, sans-serif;
    background-color: #fffff;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #4cd0e0;
    color: black;
    align-items: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    height: 100px;
    margin: 1px;
    padding: auto;
    border-radius: 4px;
    weight: 100%;
}

#top {
    text-align: right;
}

a {
    color: rgb(3,103,242);
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

#container1 {
    width: 50%;
    float: left;
}

#container2 {
    width: 100%;

}

.font {
    font-size: 50px;
    font-family: AlmarenaDisplayBold, sans-serif;
}

img {
    width: 80%;
    height: 8500%;
    object-fit: contain;
    box-sizing: border-box;
}

#form {
    width: 50%;
    margin-right: 20px;
    box-sizing: border-box;
    
}


#fullwidth  {
    width: 100%;
}

h1 {
    font-size: 24px;
    margin: 0px;
    text-align: center;
    padding:  0px;
}

h4 {
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: -30px;
    color: #85888d
}

label {
    font-size: 25px;
    align-items: end;
    width: 100%;
    margin-top: 8px;
}

textarea {
    overflow: auto;
    resize: vertical;
  }

input[type="submit"] {
    background-color:#4cd0e0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

fieldset {
    padding: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    border: none;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field1 {
    width: 48%;
    
}

.field2 {
    width: 48%;
    
}

 .form-flex {
    font-family: AlmarenaLight, sans-serif;
    padding: 16px 24px 16px 20px;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 6px;
    margin-top: -10px;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;
    background: #fafafa;
    font-size: 25px;
} 

/* Input and select field styles */
input[type="text"],
input[type="email"],
input[type="phone-number"],
select,
textarea {
    width: 80%;
    padding: 16px 24px 16px 0px;
    border: 1px solid transparent;
    border-radius: 6px;
    margin-top: -10px;
    margin-bottom: 15px;
    outline: none;
    box-sizing: border-box;
    background: #fafafa;
    font-size: 25px;

@media (max-width: 768px) {
    .image {
        display: none;
    }
}
}

